* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: blue;
  color: white;
  height: 5rem;
  line-height: 5rem;
}
.choice {
  height: 110px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.choice:hover {
  cursor: pointer;
  background-color: rgb(10, 9, 10);
}
img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}
.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap: 5rem;
}
#user-score,
#comp-score {
  font-size: 4rem;
}
#msg {
  background-color: yellow;
  color: black;
  font-size: 2rem;
  margin-top: 5rem;
  display: inline;
  padding: 0.3rem;
  border-radius: 1rem;
}
